#reordenable tr
{
    cursor:move
}
.container-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}
.activo {
    color:blue;
}
.pasivo{
    color:red;
}